# ðŸ“˜ Python Class Assignment â€” 12/5/2025

### âœ… 1. Research on Different Ways to Load a Dataset

In [2]:
import pandas as pd

# Load the CSV file from the 'data' folder
df = pd.read_csv('../data/sample.csv')

# Display the first 5 rows of the dataset
df.head()

# Loading data from an Excel file:
# df_excel = pd.read_excel('data.xlsx')

# Loading data from a JSON file:
# df_json = pd.read_json('data.json')

   id     name  age gender  math_score  english_score  science_score
0   1    Alice   17      F          85             78             92
1   2      Bob   16      M          79             74             88
2   3  Charlie   17      M          93             90             85
3   4    Diana   16      F          76             85             80
4   5   Edward   17      M          89             77             90

In [9]:
import numpy as np

# Load only numeric columns: usecols selects math_score, english_score, science_score
data_np = np.genfromtxt('../data/sample.csv', delimiter=',', skip_header=1, usecols=(3, 4, 5))

print(data_np)

[[nan 85. 78.]
 [nan 79. 74.]
 [nan 93. 90.]
 [nan 76. 85.]
 [nan 89. 77.]
 [nan 92. 88.]]

In [ ]:
# Using open() for plain text
# with open('data.txt', 'r') as file:
#     lines = file.readlines()

### âœ… 2. Create Dictionaries Containing Different Data Types

In [5]:
my_data = {
    "name": "Alice",                            # String
    "age": 25,                                  # Integer
    "grades": [85, 90, 92],                     # List
    "courses": ("Math", "Science"),             # Tuple
    "address": {"city": "Lagos", "zip": 100001} # Dictionary
}

print(my_data)

{'name': 'Alice', 'age': 25, 'grades': [85, 90, 92], 'courses': ('Math', 'Science'), 'address': {'city': 'Lagos', 'zip': 100001}}

### âœ… 3. Casting in Python

In [6]:
# String to Integer
num_str = "10"
num_int = int(num_str)

# Integer to Float
num_float = float(num_int)

# Float to String
num_str2 = str(num_float)

# List to Tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)

# Tuple to List
my_new_list = list(my_tuple)

print(num_int, num_float, num_str2, my_tuple, my_new_list)

10 10.0 10.0 (1, 2, 3) [1, 2, 3]

### âœ… 4. Power Operator and Order of Operations

In [7]:
# Power operator (**)
result = 2 ** 3  # 2 raised to the power 3 = 8
print("2 ** 3 =", result)

2 ** 3 = 8

In [8]:
# Order of operations (PEMDAS)
value = 2 + 3 * 4  # Multiplication first: 2 + 12 = 14
value2 = (2 + 3) * 4  # Parentheses first: 5 * 4 = 20

print("2 + 3 * 4 =", value)
print("(2 + 3) * 4 =", value2)

2 + 3 * 4 = 14
(2 + 3) * 4 = 20